<!DOCTYPE html>
<html>
  <!-- <head>
    <script src="/assets/info_maps/d3.v3.min.js"></script>
    <script src="/assets/info_maps/topojson.v1.min.js"></script>
    <script src="/assets/info_maps/d3.min.js"></script>
    <script src="/assets/info_maps/topojson.min.js"></script>
    <script src="/assets/info_maps/datamaps.world.min.js"></script>

    <style>
      #container {
        background-color: #41AAC4;
      }

    </style>
    
  </head> -->
  <body>
    <div id="container" style="position: relative;"></div>
    <script>
      // DATA 
      var countries_data = [
       {  
          "id":"ATG",
          "name":"ANTIGUA AND BARBUDA",
          "currency":"EC$",
          "daily_cost":761.96,
          "accomodation":486.02,
          "food":179.10,
          "local_transportation":50.57
       },
       {  
          "id":"ARG",
          "name":"ARGENTINA",
          "currency":"AR$",
          "daily_cost":372.92,
          "accomodation":203.86,
          "food":89.49,
          "local_transportation":33.48
       },
       {  
          "id":"ABW",
          "name":"ARUBA",
          "currency":"À",
          "daily_cost":465.75,
          "accomodation":297.79,
          "food":97.98,
          "local_transportation":46.19
       },
       {  
          "id":"AUS",
          "name":"AUSTRALIA",
          "currency":"AU$",
          "daily_cost":232.32,
          "accomodation":126.10,
          "food":41.81,
          "local_transportation":41.17
       },
       {  
          "id":"AUT",
          "name":"AUSTRIA",
          "currency":"€",
          "daily_cost":98.03,
          "accomodation":53.40,
          "food":24.66,
          "local_transportation":15.63
       },
       {  
          "id":"BHS",
          "name":"BAHAMAS",
          "currency":"BS$",
          "daily_cost":121.84,
          "accomodation":63.29,
          "food":38.24,
          "local_transportation":20.41
       },
       {  
          "id":"BHR",
          "name":"BAHRAIN",
          "currency":"BHD",
          "daily_cost":48.34,
          "accomodation":20.00,
          "food":16.92,
          "local_transportation":9.14
       },
       {  
          "id":"BGD",
          "name":"BANGLADESH",
          "currency":"BDT",
          "daily_cost":4540.10,
          "accomodation":2685.78,
          "food":1142.89,
          "local_transportation":571.44
       },
       {  
          "id":"BRB",
          "name":"BARBADOS",
          "currency":"B$",
          "daily_cost":606.73,
          "accomodation":378.94,
          "food":153.87,
          "local_transportation":49.41
       },
       {  
          "id":"BEL",
          "name":"BELGIUM",
          "currency":"€",
          "daily_cost":106.53,
          "accomodation":50.86,
          "food":32.68,
          "local_transportation":13.35
       },
       {  
          "id":"BLZ",
          "name":"BELIZE",
          "currency":"BZ$",
          "daily_cost":95.3,
          "accomodation":35.48,
          "food":35.79,
          "local_transportation":7.57
       },
       {  
          "id":"BMU",
          "name":"BERMUDA",
          "currency":"BM$",
          "daily_cost":164.39,
          "accomodation":41.88,
          "food":77.62,
          "local_transportation":45.13
       },
       {  
          "id":"BOL",
          "name":"BOLIVIA",
          "currency":"$b",
          "daily_cost":192.83,
          "accomodation":62.39,
          "food":66.66,
          "local_transportation":14.91
       },
       {  
          "id":"BIH",
          "name":"BOSNIA AND HERZEGOWINA",
          "currency":"KM",
          "daily_cost":107.18,
          "accomodation":46.28,
          "food":41.49,
          "local_transportation":11.56
       },
       {  
          "id":"BWA",
          "name":"BOTSWANA",
          "currency":"P",
          "daily_cost":662.56,
          "accomodation":322.55,
          "food":176.83,
          "local_transportation":50.75
       },
       {  
          "id":"BRA",
          "name":"BRAZIL",
          "currency":"R$",
          "daily_cost":201.82,
          "accomodation":113.53,
          "food":45.16,
          "local_transportation":20.44
       },
       {  
          "id":"VGB",
          "name":"BRITISH VIRGIN BRITISH ISLANDS",
          "currency":"$",
          "daily_cost":264.32,
          "accomodation":175.83,
          "food":57.37,
          "local_transportation":23.12
       },
       {  
          "id":"BGR",
          "name":"BULGARIA",
          "currency":"BGN",
          "daily_cost":87.26,
          "accomodation":49.5,
          "food":22.26,
          "local_transportation":13.60
       },
       {  
          "id":"BFA",
          "name":"BURKINA FASO",
          "currency":"CFA",
          "daily_cost":14869.67,
          "accomodation":6410.0,
          "food":3292.31,
          "local_transportation":5369.15
       },
       {  
          "id":"KHM",
          "name":"CAMBODIA",
          "currency":"៛",
          "daily_cost":129718.01,
          "accomodation":41981.42,
          "food":45767.75,
          "local_transportation":17672.72
       },
       {  
          "id":"CAN",
          "name":"CANADA",
          "currency":"CA$",
          "daily_cost":134.35,
          "accomodation":63.62,
          "food":32.14,
          "local_transportation":23.01
       },
       {  
          "id":"CYM",
          "name":"CAYMAN ISLANDS",
          "currency":"CI$",
          "daily_cost":216.24,
          "accomodation":151.83,
          "food":40.29,
          "local_transportation":20.00
       },
       {  
          "id":"CHL",
          "name":"CHILE",
          "currency":"CL$",
          "daily_cost":43977.67,
          "accomodation":27308.04,
          "food":8823.26,
          "local_transportation":3565.64
       },
       {  
          "id":"CHN",
          "name":"CHINA",
          "currency":"¥",
          "daily_cost":561.81,
          "accomodation":367.87,
          "food":94.1,
          "local_transportation":21.66
       },
       {  
          "id":"COL",
          "name":"COLOMBIA",
          "currency":"CO$",
          "daily_cost":73764.9,
          "accomodation":30923.87,
          "food":22194.35,
          "local_transportation":8706.52
       },
       {  
          "id":"CRI",
          "name":"COSTA RICA",
          "currency":"₡",
          "daily_cost":38158.29,
          "accomodation":20680.16,
          "food":8953.12,
          "local_transportation":4071.88
       },
       {  
          "id":"Croatia",
          "name":"CROATIA",
          "currency":"kn",
          "daily_cost":487.7,
          "accomodation":277.79,
          "food":130.89,
          "local_transportation":53.31
       },
       {  
          "id":"CUB",
          "name":"CUBA",
          "currency":"₱",
          "daily_cost":44.84,
          "accomodation":24.62,
          "food":7.24,
          "local_transportation":6.25
       },
       {  
          "id":"CUW",
          "name":"CURACAO",
          "currency":"ANG",
          "daily_cost":477.83,
          "accomodation":330.99,
          "food":91.12,
          "local_transportation":35.13
       },
       {  
          "id":"CYP",
          "name":"CYPRUS",
          "currency":"€",
          "daily_cost":77.0,
          "accomodation":37.35,
          "food":29.63,
          "local_transportation":6.34
       },
       {  
          "id":"CZE",
          "name":"CZECH REPUBLIC",
          "currency":"Kč",
          "daily_cost":1899.48,
          "accomodation":1138.7,
          "food":484.13,
          "local_transportation":143.77
       },
       {  
          "id":"DMA",
          "name":"DOMINICA",
          "currency":"EC$",
          "daily_cost":440.82,
          "accomodation":291.83,
          "food":102.62,
          "local_transportation":32.68
       },
       {  
          "id":"DOM",
          "name":"DOMINICAN REPUBLIC",
          "currency":"RD$",
          "daily_cost":6252.64,
          "accomodation":3980.55,
          "food":1723.51,
          "local_transportation":286.69
       },
       {  
          "id":"ECU",
          "name":"ECUADOR",
          "currency":"$",
          "daily_cost":34.1,
          "accomodation":12.57,
          "food":11.93,
          "local_transportation":2.53
       },
       {  
          "id":"EGY",
          "name":"EGYPT",
          "currency":"EG£",
          "daily_cost":356.05,
          "accomodation":187.64,
          "food":88.68,
          "local_transportation":54.58
       },
       {  
          "id":"EST",
          "name":"ESTONIA",
          "currency":"€",
          "daily_cost":51.06,
          "accomodation":25.25,
          "food":13.79,
          "local_transportation":9.56
       },
       {  
          "id":"ETH",
          "name":"ETHIOPIA",
          "currency":"ETB",
          "daily_cost":321.62,
          "accomodation":137.32,
          "food":94.27,
          "local_transportation":31.96
       },
       {  
          "id":"FJI",
          "name":"FIJI",
          "currency":"FJ$",
          "daily_cost":201.27,
          "accomodation":132.63,
          "food":55.45,
          "local_transportation":9.18
       },
       {  
          "id":"FIN",
          "name":"FINLAND",
          "currency":"€",
          "daily_cost":113.91,
          "accomodation":53.87,
          "food":26.46,
          "local_transportation":17.42
       },
       {  
          "id":"FRA",
          "name":"FRANCE",
          "currency":"€",
          "daily_cost":148.02,
          "accomodation":93.29,
          "food":28.42,
          "local_transportation":14.44
       },
       {  
          "id":"DEU",
          "name":"GERMANY",
          "currency":"€",
          "daily_cost":96.69,
          "accomodation":51.78,
          "food":26.41,
          "local_transportation":12.16
       },
       {  
          "id":"GHA",
          "name":"GHANA",
          "currency":"GH¢",
          "daily_cost":40.87,
          "accomodation":12.88,
          "food":13.83,
          "local_transportation":13.46
       },
       {  
          "id":"GRC",
          "name":"GREECE",
          "currency":"€",
          "daily_cost":90.84,
          "accomodation":46.3,
          "food":26.87,
          "local_transportation":15.64
       },
       {  
          "id":"GRL",
          "name":"GREENLAND",
          "currency":"kr",
          "daily_cost":1372.18,
          "accomodation":731.45,
          "food":400.01,
          "local_transportation":285.72
       },
       {  
          "id":"GRD",
          "name":"GRENADA",
          "currency":"EC$",
          "daily_cost":640.29,
          "accomodation":455.88,
          "food":134.26,
          "local_transportation":34.54
       },
       {  
          "id":"GTM",
          "name":"GUATEMALA",
          "currency":"Q",
          "daily_cost":247.26,
          "accomodation":85.46,
          "food":76.44,
          "local_transportation":35.41
       },
       {  
          "id":"HND",
          "name":"HONDURAS",
          "currency":"L",
          "daily_cost":701.7,
          "accomodation":156.17,
          "food":177.73,
          "local_transportation":261.12
       },
       {  
          "id":"HKG",
          "name":"HONG KONG",
          "currency":"HK$",
          "daily_cost":1173.84,
          "accomodation":471.57,
          "food":183.59,
          "local_transportation":50.49
       },
       {  
          "id":"HUN",
          "name":"HUNGARY",
          "currency":"Ft",
          "daily_cost":32182.48,
          "accomodation":14297.32,
          "food":5450.55,
          "local_transportation":2465.07
       },
       {  
          "id":"ISL",
          "name":"ICELAND",
          "currency":"kr",
          "daily_cost":31511.22,
          "accomodation":8648.77,
          "food":1506.95,
          "local_transportation":3500
       },
       {  
          "id":"IND",
          "name":"INDIA",
          "currency":"₨",
          "daily_cost":1717.35,
          "accomodation":881.09,
          "food":456.39,
          "local_transportation":199.21
       },
       {  
          "id":"IDN",
          "name":"INDONESIA",
          "currency":"Rp",
          "daily_cost":601306.76,
          "accomodation":348875.4,
          "food":147543.78,
          "local_transportation":54333.34
       },
       {  
          "id":"IRL",
          "name":"IRELAND",
          "currency":"€",
          "daily_cost":96.85,
          "accomodation":48.22,
          "food":29.11,
          "local_transportation":14.45
       },
       {  
          "id":"ISR",
          "name":"ISRAEL",
          "currency":"₪",
          "daily_cost":334.64,
          "accomodation":193.04,
          "food":97.45,
          "local_transportation":19.26
       },
       {  
          "id":"ITA",
          "name":"ITALY",
          "currency":"€",
          "daily_cost":118.65,
          "accomodation":66.12,
          "food":32.37,
          "local_transportation":11.03
       },
       {  
          "id":"JAM",
          "name":"JAMAICA",
          "currency":"JMD",
          "daily_cost":15427.3,
          "accomodation":10899.99,
          "food":3223.42,
          "local_transportation":848.26
       },
       {  
          "id":"JPN",
          "name":"JAPAN",
          "currency":"¥",
          "daily_cost":13549.05,
          "accomodation":6432.34,
          "food":3114.41,
          "local_transportation":1385.59
       },
       {  
          "id":"JOR",
          "name":"JORDAN",
          "currency":"JOD",
          "daily_cost":43.66,
          "accomodation":16.73,
          "food":11.14,
          "local_transportation":7.32
       },
       {  
          "id":"KEN",
          "name":"KENYA",
          "currency":"KES",
          "daily_cost":4375.12,
          "accomodation":1199.5,
          "food":953.65,
          "local_transportation":1107.04
       },
       {  
          "id":"LAO",
          "name":"LAOS",
          "currency":"LAK",
          "daily_cost":225348.69,
          "accomodation":87697.57,
          "food":84434.07,
          "local_transportation":30510.15
       },
       {  
          "id":"LVA",
          "name":"LATVIA",
          "currency":"€",
          "daily_cost":45.34,
          "accomodation":23.23,
          "food":12.84,
          "local_transportation":3.03
       },
       {  
          "id":"LBN",
          "name":"LEBANON",
          "currency":"LBP",
          "daily_cost":124352.71,
          "accomodation":60839.95,
          "food":42590.51,
          "local_transportation":15212.5
       },
       {  
          "id":"LTU",
          "name":"LITHUANIA",
          "currency":"LTL",
          "daily_cost":230.36,
          "accomodation":112.69,
          "food":91.68,
          "local_transportation":20.53
       },
       {  
          "id":"LUX",
          "name":"LUXEMBOURG",
          "currency":"€",
          "daily_cost":147.79,
          "accomodation":67.49,
          "food":69.34,
          "local_transportation":8.95
       },
       {  
          "id":"MAC",
          "name":"MACAO",
          "currency":"MOP",
          "daily_cost":921.42,
          "accomodation":729.75,
          "food":118.07,
          "local_transportation":3.83
       },
       {  
          "id":"MDG",
          "name":"MADAGASCAR",
          "currency":"MGF",
          "daily_cost":405453.41,
          "accomodation":230291.71,
          "food":123203.21,
          "local_transportation":43429.70
       },
       {  
          "id":"MYS",
          "name":"MALAYSIA",
          "currency":"MYR",
          "daily_cost":142.07,
          "accomodation":79.02,
          "food":29.78,
          "local_transportation":15.16
       },
       {  
          "id":"MLI",
          "name":"MALI",
          "currency":"CFA",
          "daily_cost":16009.82,
          "accomodation":7322.53,
          "food":4408.96,
          "local_transportation":1814.57
       },
       {  
          "id":"MLT",
          "name":"MALTA",
          "currency":"€",
          "daily_cost":81.29,
          "accomodation":51.43,
          "food":22.29,
          "local_transportation":6.86
       },
       {  
          "id":"MRT",
          "name":"MAURITANIA",
          "currency":"MRO",
          "daily_cost":15277.82,
          "accomodation":4187.5,
          "food":1807.69,
          "local_transportation":17547
       },
       {  
          "id":"MEX",
          "name":"MEXICO",
          "currency":"MXN",
          "daily_cost":828.56,
          "accomodation":401.02,
          "food":200.82,
          "local_transportation":138.12
       },
       {  
          "id":"MCO",
          "name":"MONACO",
          "currency":"€",
          "daily_cost":165.72,
          "accomodation":97.29,
          "food":47.23,
          "local_transportation":16.14
       },
       {  
          "id":"MNG",
          "name":"MONGOLIA",
          "currency":"MNT",
          "daily_cost":46698.64,
          "accomodation":17368.96,
          "food":14827.31,
          "local_transportation":5582.29
       },
       {  
          "id":"MAR",
          "name":"MOROCCO",
          "currency":"MAD",
          "daily_cost":404.34,
          "accomodation":216.01,
          "food":117.11,
          "local_transportation":35.52
       },
       {  
          "id":"MMR",
          "name":"MYANMAR",
          "currency":"MMK",
          "daily_cost":83547.32,
          "accomodation":31676.51,
          "food":10248.54,
          "local_transportation":5663.32
       },
       {  
          "id":"NPL",
          "name":"NEPAL",
          "currency":"NPR",
          "daily_cost":2684.85,
          "accomodation":1365.4,
          "food":828.35,
          "local_transportation":161.73
       },
       {  
          "id":"NLD",
          "name":"NETHERLANDS",
          "currency":"€",
          "daily_cost":117.17,
          "accomodation":66.45,
          "food":26.77,
          "local_transportation":17.31
       },
       {  
          "id":"NZL",
          "name":"NEW ZEALAND",
          "currency":"NZD",
          "daily_cost":179.49,
          "accomodation":114.79,
          "food":30.60,
          "local_transportation":17.08
       },
       {  
          "id":"NIC",
          "name":"NICARAGUA",
          "currency":"NIO",
          "daily_cost":691.71,
          "accomodation":276.58,
          "food":275.69,
          "local_transportation":47.56
       },
       {  
          "id":"NOR",
          "name":"NORWAY",
          "currency":"NOK",
          "daily_cost":946.69,
          "accomodation":606.4,
          "food":214.66,
          "local_transportation":126.83
       },
       {  
          "id":"PAN",
          "name":"PANAMA",
          "currency":"PAB",
          "daily_cost":55.97,
          "accomodation":24.5,
          "food":17.29,
          "local_transportation":7.30
       },
       {  
          "id":"PER",
          "name":"PERU",
          "currency":"PEN",
          "daily_cost":126.63,
          "accomodation":54.92,
          "food":37.04,
          "local_transportation":13.39
       },
       {  
          "id":"PHL",
          "name":"PHILIPPINES",
          "currency":"PHP",
          "daily_cost":2721.62,
          "accomodation":1532.3,
          "food":437.45,
          "local_transportation":308.29
       },
       {  
          "id":"POL",
          "name":"POLAND",
          "currency":"PLN",
          "daily_cost":225.4,
          "accomodation":132.56,
          "food":56.93,
          "local_transportation":17.26
       },
       {  
          "id":"PRT",
          "name":"PORTUGAL",
          "currency":"€",
          "daily_cost":82.74,
          "accomodation":37.84,
          "food":27.17,
          "local_transportation":12.04
       },
       {  
          "id":"PRI",
          "name":"PUERTO RICO",
          "currency":"$",
          "daily_cost":162.47,
          "accomodation":104.18,
          "food":28.41,
          "local_transportation":10.64
       },
       {  
          "id":"ROU",
          "name":"ROMANIA",
          "currency":"ROL",
          "daily_cost":338.71,
          "accomodation":97.45,
          "food":157.13,
          "local_transportation":69.69
       },
       {  
          "id":"RUS",
          "name":"RUSSIA",
          "currency":"RUB",
          "daily_cost":3501.47,
          "accomodation":1998.06,
          "food":855.15,
          "local_transportation":228.00
       },
       {  
          "id":"RWA",
          "name":"RWANDA",
          "currency":"RWF",
          "daily_cost":24170.62,
          "accomodation":14700.0,
          "food":5608.37,
          "local_transportation":4141.50
       },
       {  
          "id":"BLM",
          "name":"SAINT BARTHELEMY",
          "currency":"€",
          "daily_cost":225.25,
          "accomodation":152.8,
          "food":42.7,
          "local_transportation":17.77
       },
       {  
          "id":"KNA",
          "name":"SAINT KITTS AND NEVIS",
          "currency":"EC$",
          "daily_cost":671.09,
          "accomodation":449.25,
          "food":103.57,
          "local_transportation":114.14
       },
       {  
          "id":"LCA",
          "name":"SAINT LUCIA",
          "currency":"EC$",
          "daily_cost":452.45,
          "accomodation":285.7,
          "food":113.72,
          "local_transportation":46.28
       },
       {  
          "id":"SEN",
          "name":"SENEGAL",
          "currency":"CFA",
          "daily_cost":43955.44,
          "accomodation":31741.31,
          "food":8521.5,
          "local_transportation":1299.46
       },
       {  
          "id":"SRB",
          "name":"SERBIA",
          "currency":"RSD",
          "daily_cost":2990.81,
          "accomodation":932.13,
          "food":807.38,
          "local_transportation":487.38
       },
       {  
          "id":"SGP",
          "name":"SINGAPORE",
          "currency":"SG$",
          "daily_cost":139.16,
          "accomodation":79.29,
          "food":28.67,
          "local_transportation":11.15
       },
       {  
          "id":"SVK",
          "name":"SLOVAKIA",
          "currency":"€",
          "daily_cost":65.33,
          "accomodation":30.01,
          "food":25.55,
          "local_transportation":9.14
       },
       {  
          "id":"SVN",
          "name":"SLOVENIA",
          "currency":"€",
          "daily_cost":74.81,
          "accomodation":41.63,
          "food":18.73,
          "local_transportation":13.69
       },
       {  
          "id":"ZAF",
          "name":"SOUTH AFRICA",
          "currency":"ZAR",
          "daily_cost":1183.74,
          "accomodation":544.74,
          "food":368.9,
          "local_transportation":204.13
       },
       {  
          "id":"KOR",
          "name":"SOUTH KOREA",
          "currency":"KRW",
          "daily_cost":127922.4,
          "accomodation":67687.44,
          "food":24126.54,
          "local_transportation":15412.87
       },
       {  
          "id":"ESP",
          "name":"SPAIN",
          "currency":"€",
          "daily_cost":89.33,
          "accomodation":46.34,
          "food":21.54,
          "local_transportation":11.05
       },
       {  
          "id":"LKA",
          "name":"SRI LANKA",
          "currency":"LKR",
          "daily_cost":5180.76,
          "accomodation":2042.52,
          "food":1406.84,
          "local_transportation":481.33
       },
       {  
          "id":"SWE",
          "name":"SWEDEN",
          "currency":"SEK",
          "daily_cost":1134.35,
          "accomodation":555.32,
          "food":277.61,
          "local_transportation":159.13
       },
       {  
          "id":"CHE",
          "name":"SWITZERLAND",
          "currency":"Sfr",
          "daily_cost":173.16,
          "accomodation":104.35,
          "food":40.09,
          "local_transportation":15.64
       },
       {  
          "id":"TWN",
          "name":"TAIWAN",
          "currency":"TWD",
          "daily_cost":8476.38,
          "accomodation":7631.65,
          "food":340.53,
          "local_transportation":224.99
       },
       {  
          "id":"TZA",
          "name":"TANZANIA",
          "currency":"TZS",
          "daily_cost":140361.25,
          "accomodation":74792.58,
          "food":27594.7,
          "local_transportation":17792.50
       },
       {  
          "id":"THA",
          "name":"THAILAND",
          "currency":"B",
          "daily_cost":1851.35,
          "accomodation":988.98,
          "food":380.04,
          "local_transportation":187.60
       },
       {  
          "id":"TUR",
          "name":"TURKEY",
          "currency":"TRY",
          "daily_cost":144.39,
          "accomodation":87.36,
          "food":31.09,
          "local_transportation":107.00
       },
       {  
          "id":"TCA",
          "name":"TURKS AND CAICOS ISLANDS",
          "currency":"$",
          "daily_cost":262.21,
          "accomodation":164.17,
          "food":62.71,
          "local_transportation":19.41
       },
       {  
          "id":"UGA",
          "name":"UGANDA",
          "currency":"USh",
          "daily_cost":178996.25,
          "accomodation":130661.9,
          "food":20711.89,
          "local_transportation":7500
       },
       {  
          "id":"UKR",
          "name":"UKRAINE",
          "currency":"UAH",
          "daily_cost":768.36,
          "accomodation":486.1,
          "food":185.72,
          "local_transportation":24.79
       },
       {  
          "id":"ARE",
          "name":"UNITED ARAB EMIRATES",
          "currency":"AED",
          "daily_cost":1006.16,
          "accomodation":505.63,
          "food":146.56,
          "local_transportation":57.33
       },
       {  
          "id":"GBR",
          "name":"UNITED KINGDOM",
          "currency":"£",
          "daily_cost":112.96,
          "accomodation":59.08,
          "food":29.05,
          "local_transportation":16.22
       },
       {  
          "id":"USA",
          "name":"UNITED STATES OF AMERICA",
          "currency":"$",
          "daily_cost":217.0,
          "accomodation":105.94,
          "food":39.65,
          "local_transportation":36.36
       },
       {  
          "id":"VIR",
          "name":"US VIRGIN ISLANDS",
          "currency":"$",
          "daily_cost":150.91,
          "accomodation":95.72,
          "food":32.39,
          "local_transportation":12.62
       },
       {  
          "id":"VNM",
          "name":"VIETNAM",
          "currency":"d",
          "daily_cost":876998.16,
          "accomodation":463351.31,
          "food":203510.67,
          "local_transportation":106407.62
       }
      ];
      // create new data map
      // type of scope and projection 
      // default fills and highlights


      var world = new Datamap({
        setProjection: function(element) {
          var projection = d3.geo.mercator()
            .center([-1, 28])
            .scale(165)
            .translate([element.offsetWidth / 2, element.offsetHeight / 2]);
          var path = d3.geo.path()
            .projection(projection);

          return {path: path, projection: projection};
        },
        scope: "world",
        element: document.getElementById("container"),
        width: 1000,
        height: 700,
        responsive: true,      
        fills: {
              defaultFill: "#BDB69C"
        },
        // highlight, border and fill colour defaults
        geographyConfig: { 
          highlightBorderWidth: 0.2,
          highlightBorderColor: "#7d7d7d",
          highlightFillColor: "orange",
          popupTemplate: function(geography, data) {
            var country_data = countries_data.find(x => x.id === geography.id);
            // console.log(country_data);
            return `
              <div style="background-color: white; padding: 1rem; font-size: .80em">
                ${country_data.name}<br/>
                Currency: ${country_data.currency}<br/>
                Daily Cost: ${country_data.daily_cost}<br/>
                Accomodation: ${country_data.accomodation}<br/>
                Food: ${country_data.food}<br/>
                Local Transportation: ${country_data.local_transportation}<br/>
                ** Note: Base on local cost
              </div>
            `
          },          
        },
        // zoom function
        // var svg = d3.geo.mercator().scale(0.7051489802421953).translate([199.83564269603607, 145.48209008634268]);
        done: function(datamap) {
           datamap.svg.call(d3.behavior.zoom().on("zoom", redraw));

           function redraw() {
              datamap.svg.selectAll("g").attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
           }
        }
      });
    </script>
  </body>
</html>






