<!-- Navigation -->
<!-- <section id="nav-bar">
  <div>
    <h3>Welcome</h3>
    <p>This will be a landing page for visitors.</p>
    <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
  </div>
</section> -->

   <div class="container">
    <!-- Image BG 1 -->
    <section class="background">
      <div class="content-wrapper">
        <p class="content-title">First Page 1</p>
        <p class="content-subtitle">more text here...</p>
      </div>
    </section>
    <!-- Image BG 2 -->
    <section class="background">
      <div class="content-wrapper">
        <p class="content-title">Second Page 2</p>
        <p class="content-subtitle">more text here...</p>
      </div>
    </section>
    <!-- Image BG 3 -->
    <section class="background">
      <div class="content-wrapper">
        <p class="content-title">Third Page 3</p>
        <p class="content-subtitle">more text here...</p>
      </div>
    </section>
    <!-- Image BG 4 -->
    <section class="background">
      <div class="content-wrapper">
        <p class="content-title">First Page 4</p>
        <p class="content-subtitle">more text here...</p>
      </div>
    </section>
  </div>


