<h2>What is the name of your trip?</h2>

<%= form_for @trip, url: {action: "create"} do |f| %> 
  <div class="form-group">	
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
  </div>
	<%= f.submit 'Get Started!', :class => 'button right' %>
  <% end %>
<h4>Where are you planning to go?</h4>

<p>Here is where we might tile continents</p>
<p>Or we can list some themes?</p>
