/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * require foundation
 * require foundation_and_overrides
 //= require_tree .
 //= require_self

 

 */

.tripPlanner {
 	text-align: center;
}

.cities {
	list-style-type: none;
}

.itin-body {
	list-style-type: none;
}

.itin-list {
	height: 30em;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: rgba(255,255,255,0.5);
}

.itin-filters {
	height: 30em;
	overflow-y: scroll;
	background-color: rgba(255,255,255,0.5);
}

.itin-display {
	height: 30em;
	overflow-y: scroll;
	background-color: rgba(255,255,255,0.5);
}

.inspiration-countries {
	max-width: 90em;
}

.trip-banner {
	background-image: url("trip-banner.png");
	background-size: 100%;
	height: 16em;
}

.trip-banner-container {
	max-width: 84em;
}

.trip-banner-header {
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 8em
}

.checkbox-custom {
	height: 20px;
	width: 20px;
	color: black;
	text-align: left;
	display: inline-block;
}

.itineraries-row {
	max-width: 90em;
}

.filter-label {
	display: inline-block;
	position: relative;
	transform: none;
}

.itin-change-button {
	font-size: 1.5em;
	display: inline-block;
	padding: 5px;
}

.itin-explorer {
	background-image: url("old.jpg");
	background-size: 100%;
	height: 100%;
}

.route-link {
	margin: 3em 0;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.trip-chat-box {
	padding-top: 3em;
}

.trip-chat-box textarea {
	color: black;
}