// Place all the styles related to the Budgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search label {
    color: black;
}

input#budget, input#days, select#country {
    margin-top: 50px;
    font-weight: bold;
}

p, pre {
    margin: 1em 0;
    font-size: 50px;
    text-align: center;
}

.search {
  border: 10px solid #f08e2b;
  margin: 150px 200px;
  width: 1140px;
  /*opacity: 0.7;*/
}

#outputbox1 p, #outputbox2 p {
  color: black;
}

.preview-wrapper {
  /*background-color: lightblue;*/
  background-size: cover;
  background-image: url('images/everest-718055_960_720.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: repeat;
  /*margin-top: -150px;*/
  overflow-x: hidden;
}

/*.space {
  margin-top: 90px;
}
*/
.transbox {
  border: 10px solid #f08e2b;
  background-color: #ffffff;
  opacity: 0.9;
  width: 90%;
  margin: 100px auto;
}

.option {
  color: black;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  /*opacity: 1;*/
}
