/*.preview-wrapper {
    background-color: lightblue;
    height: 800px;
    background-image: url('https://pixabay.com/static/uploads/photo/2015/04/11/18/51/everest-718055_960_720.jpg');
    background-size: cover;
    opacity: .7;
    margin-top: -117px;
}*/

.trips-title {
    color: black;
}

.container.user_preview {
    padding-top: 100px;
}

.new-trip-btn {
    width: 50%;
    height: 50px;
    margin-right: 360px;
    display: inline;
    clear: both;
    font-size: 1.5em;
    background: #f08e2b;
    color: #fff;
}


/*border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em;*/
