<!-- NAVIGATION SECTION -->
<section>
  <div class="nav">
    <div class="nav-list">
    <div class="logo">
     <div class="text">Backpackers</div>
    </div>
    <div class="nav-menu">
        <div class="nav-item">
        <% if current_user %>
          <a href="/users/<%= current_user.id %>">Home</a>
        <% else %>
          <a href="/">Home</a>
        <% end %>
        </div>
        <div class="nav-item"><a href="/budgets">Budget</a></div>
        <div class="nav-item"><a href="/info_map">Country Daily Average</a></div>
        <div class="nav-item"><a href="/#contact">Contact</a></div>
          <%= render 'layouts/nav_links_for_auth' %>
        </div>
      </div>
  </div>
  <div class="menu-button">
    <div class="menu-icn"></div>
    <div class="menu-icn"></div>
    <div class="menu-icn"></div>
  </div>
</section>
