<% if user_signed_in? %>
  <div class="nav-item"><%= link_to 'Edit account', edit_user_registration_path %></div>
  <div class="nav-item"><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></div>
<% else %>
  <div class="nav-item"><%= link_to 'Sign-In / Sign-up', "#", :onclick=>"signInUpTrigger();" %></div>
<% end %>
