<!-- NAVIGATION SECTION -->
<section>
  <div class="logo">
   <div class="text">Backpackers</div>
  </div>
  <div class="nav">
    <nav role='navigation'>
      <ul><div class="parent"><a href="#">Itinerary</a></div></ul>
      <ul><div class="parent"><a href="#">Budget</a></div></ul>
      <ul><div class="parent"><a href="http://localhost:3000/info_map">Country Daily Average</a></div></ul>
      <ul><div class="parent"><a onclick="contactTrigger()">Contact</a></div></ul>
      <!-- <ul><div class="parent"><a onclick="signInUpTrigger()">Sign-In / Sign-Up</a></div></ul>   -->
        <%= render 'layouts/nav_links_for_auth' %>      
    </nav>
  </div>
  <div class="menu-button">
    <div class="menu-icn"></div>
    <div class="menu-icn"></div>
    <div class="menu-icn"></div>
  </div>
</section>